setuptools==49.2.1
pandoc==1.0.2
-e ./panoptoextension
-e ./sagecell-extension
-e ./ggbextension
-e ./SphinxScrolldepth
-e ./hoverrole
-e ./toggleblock-extension
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-katex==0.6.1
